:root {
   --secondary-color: #49475B;
   --primary-color: #ffffff;

   /* Dark Mode */

   --dark-bg: #39393A;
   --dark-logo: #63B0CD;
   --dark-accent-bold: #F4743B;

   /* Light Mode */
   --light-bg: #FFFFFF;
   --light-accent-bold: #BA2D0B;
   --light-accent-soft: #73BA9B;
   --racing-green: #003E1F;
   --night-green: #01110A;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body.light {
  color: black;
  background-color: white;
}

body.dark {
  color: var(--primary-color);
  background-color: var(--dark-bg);
}
